body {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  background-color: rgb(219, 219, 219);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .container {
    justify-content: space-between;
    flex-direction: row;
    gap: 16px;
    padding: 36px;
  }
}

.card {
  min-width: 300px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.card--grid {
  display: grid;
  grid-template-areas:
    "h1 h1 h1"
    "city city city"
    "country country country"
    "temp temp temp";
  grid-gap: 20px;
}
.card--p-24 {
  padding: 24px;
}
.card__title {
  padding: 5px 50px 5px 5px;
  margin: 0;
  border-left: 1px solid hsla(0, 89%, 7%, 0.104);
  grid-area: h1;
}
.card__title::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 28px;
  height: 28px;
  background-image: url(./img/weather.svg);
  background-size: contain;
  margin-left: 10px;
}
.card--m-20 {
  margin-bottom: 20px;
}

.card__name {
  grid-area: city;
}
.card__country {
  grid-area: country;
}
.card__name::before,
.card__country::before,
.card__temp::before,
.card__temp-max::before,
.card__temp-min::before,
.card__weather::before {
  display: block;
  opacity: 0.5;
  font-size: 14px;
}
.card__name::before {
  content: "City (by your geolocation)";
}
.card__country::before {
  content: "Country";
}
.card__temp::before {
  content: "Temp";
}
.card__temp-max::before {
  content: "Temp-max";
}
.card__temp-min::before {
  content: "Temp-min";
}
.card__weather::before {
  content: "Weather";
}
.card__info {
  padding: 0;
  margin: 0;
}
.card__subtitle {
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsla(0, 89%, 7%, 0.104);
  padding: 10px;
  margin: 0;
}
.card__subtitle::before {
  display: inline-block;
  content: " ";
  width: 28px;
  height: 28px;
  margin-right: 10px;
  background-image: url(./img/therm.svg);
  background-size: contain;
}

.about-title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsla(0, 89%, 7%, 0.104);
  padding: 10px;
  margin: 0;
}
.about-title::before {
  display: inline-block;
  content: " ";
  width: 28px;
  height: 28px;
  margin-right: 10px;
  background-image: url(./img/link.svg);
  background-size: contain;
}

.article {
  width: 100%;
  box-shadow: 5px 6px 24px 20px rgba(34, 60, 80, 0.2);
  border-radius: 20px;
}
.article__container {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 20px;
  min-width: 320px;
}

.line::before {
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  background-color: hsla(0, 89%, 7%, 0.104);
}

.main-title {
  margin: 0;
  padding: 0;
}
.main-title::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url(./img/news.svg);
  background-size: contain;
}

.news-card {
  display: flex;
  gap: 26px;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  color: black;
  padding-bottom: 26px;
  padding-top: 26px;
}
@media screen and (min-width: 980px) {
  .news-card {
    flex-direction: row;
  }
}
.news-card__img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
}
